@using App.Shared.Models
@model List<EducationViewModel>

@{
    ViewData["Title"] = "Educations";
}

<div class="container my-3">
    <div class="row">
        <p><a asp-action="Add" class="btn btn-primary">Add New Education</a></p>
        <div class="col-md-12">
            <h2>Education</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>School</th>
                        <th>Field Of Study</th>
                        <th>Degree</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var education in Model)
                    {
                        <tr>
                            <td>@education.School</td>
                            <td>@education.FieldOfStudy</td>
                            <td>@education.Degree</td>
                            <td>@education.StartDate.ToString("yyyy-MM-dd")</td>
                            <td>@(education.EndDate.HasValue ? education.EndDate.Value.ToString("yyyy-MM-dd") : "Present")</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@education.Id">Edit</a> |
                                <a asp-action="Delete" asp-route-id="@education.Id" onclick="return confirm('Are you sure you want to delete this experience?');">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
