@model PersonalViewModel

@{
    ViewData["Title"] = "About Me";
}

<div class="container">
    <div class="row d-flex">
        <div class="col-md-6 col-lg-5 d-flex">
            <div class="img-about img d-flex align-items-stretch">
                <div class="overlay"></div>
                <div class="img d-flex align-self-stretch align-items-center" style="background-image: url(@Model.AboutMe.ImageUrl1)">
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
            <div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ftco-animate">
                    <h1 class="big">About</h1>
                    <h2 class="mb-4">About Me</h2>
                    <p>@Model.AboutMe.Introduciton</p>
                    <ul class="about-info mt-4 px-md-0 px-2">
                        <li class="d-flex"><span>Name:</span> <span>@Model.PersonalInfo.FirstName @Model.PersonalInfo.FirstName</span></li>
                        <li class="d-flex"><span>Date of birth:</span> <span>@Model.PersonalInfo.BirthDate.ToString("dd-MM-yyyy")</span></li>
                        <li class="d-flex"><span>Address:</span> <span>@Model.PersonalInfo.Address</span></li>
                        <li class="d-flex"><span>Email:</span> <span>@Model.PersonalInfo.Email</span></li>
                        <li class="d-flex"><span>Phone: </span> <span>@Model.PersonalInfo.PhoneNumber</span></li>
                    </ul>
                </div>
            </div>
            <div class="counter-wrap ftco-animate d-flex mt-md-3">
                <div class="text">
                    <p><a asp-action="DownloadCv" asp-controller="Home" class="btn btn-primary py-3 px-3" download>Download CV</a></p>
                </div>
            </div>
        </div>
    </div>
</div>